html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    min-height: 100%;
    background-color: #F5F7FB;
    padding: 3rem;
    position: absolute;
}

.layout__main {
    width: 100%;
}

.main__container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #EB4E50;
    padding: 1rem;
    color: white;
    cursor: pointer;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.main__btn:hover {
    background-color: #f0282b;
}

.btn__icon {
    font-size: 1.4rem;
}

.btn__text {
    font-weight: 500;
}

.main__notes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.notes__note {
    flex-basis: calc(25% - 2rem);
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.note--visible {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.note--visible-no-transition {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.note__header {
    background-color: #EB4E50;
    border-radius: 0.5rem 0.5rem 0 0;
    -webkit-border-radius: 0.5rem 0.5rem 0 0;
    -moz-border-radius: 0.5rem 0.5rem 0 0;
    -ms-border-radius: 0.5rem 0.5rem 0 0;
    -o-border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 2rem;
}

.header__input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.note__icon {
    cursor: pointer;
}

.note__body {
    width: 100%;
    height: 40rem;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border: none;
    outline: none;
    resize: none;
    padding: 2rem;
    font-weight: 500;
    background-color: #E0E0E0;
    text-align: center;
}